* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 430px;
  margin: 0 auto;
  font-family: 'Mulish', sans-serif;
}

header {
  background: #065E7C;

  display: flex;
  justify-content: center;

  padding: 12px 28px;
}

.logo {
  padding: 8px;
  background: white;
  border-radius: 50%;
}

input {
  margin-inline: 25.5px;
  width: 100%;
  padding: 12px 14px;

  border-radius: 4px;
  background: rgba(255, 255, 255, 0.20);
  color: #ffffff;

  border: none;
}

main img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 30px;
}

.post {
  margin-bottom: 30px;
  width: 382px;
  margin: 0 auto;
}

.post p {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;

  color: #202024;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.buttons button {
  width: 40px;
  height: 40px;
  padding: 12px;
  border: none;
  border-radius: 50%;
  background: #065E7C;

  justify-content: center;
  align-items: center;
}

.buttons button img {
  width: 16px;
  height: 16px;
}

.related {
  width: 382px;
  margin: 0 auto;
  align-items: center;
}

.related .card {
  display: flex;
  gap: 16px;
}

.related .card img {
  width: 150px;
  height: 85px;
  border-radius: 5px;
}

.related h1 {
  margin-bottom: 30px;
}

.related .card h2 {
  font-size: 18px;
}

.related .card p {
  font-size: 14px;
  line-height: 160%;
}

footer {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  background: #387E96;

  padding: 16px;
}